<div>
    <h2 id="page-heading">
        <span jhiTranslate="theschedulerApp.request.home.title">Requests</span>
        <button *ngIf="currentAccount && currentAccount.login !== 'admin'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-request" [routerLink]="['/request/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="theschedulerApp.request.home.createLabel">
            Create new Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="requests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="type"><span jhiTranslate="theschedulerApp.request.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="theschedulerApp.request.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="from"><span jhiTranslate="theschedulerApp.request.from">From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="to"><span jhiTranslate="theschedulerApp.request.to">To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interestedParties"><span jhiTranslate="theschedulerApp.request.interestedParties">Interested Parties</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reason"><span jhiTranslate="theschedulerApp.request.reason">Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="theschedulerApp.request.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of requests ;trackBy: trackId">
                <td jhiTranslate="{{'theschedulerApp.RequestType.' + request.type}}">{{request.type}}</td>
                <td jhiTranslate="{{'theschedulerApp.Status.' + request.status}}">{{request.status}}</td>
                <td>{{request.from | date:'medium'}}</td>
                <td>{{request.to | date:'medium'}}</td>
                <td>{{request.interestedParties}}</td>
                <td>{{request.reason}}</td>
                <td>
                    {{request.userEmail}}
                </td>
        
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/request', request.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *ngIf="currentAccount.login !== 'admin' && request.status==='NEW'" type="submit"
                                [routerLink]="['/request', request.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span   class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *ngIf="currentAccount.login === 'admin' && request.status==='NEW'" type="submit"
                            [routerLink]="['/', 'request', { outlets: { popup: request.id + '/decline'} }]"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span   class="d-none d-md-inline">DECLINE</span>
                        </button>
                        <button *ngIf="currentAccount.login === 'admin' && request.status==='NEW'" type="submit"
                            [routerLink]="['/', 'request', { outlets: { popup: request.id + '/approve'} }]"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'check'"></fa-icon>
                            <span   class="d-none d-md-inline">APPROVE</span>
                        </button>
                        <button *ngIf="currentAccount.login === 'admin' && request.status==='NEW'" type="submit"
                                [routerLink]="['/', 'request', { outlets: { popup: request.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="requests && requests.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
