<form name="declineForm" (ngSubmit)="confirmDecline(request.id)">
        <div class="modal-header">
            <h4 class="modal-title" >Confirm Decline operation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <p id="jhi-decline-request-heading">Are you sure you want to decline this Request?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button id="jhi-confirm-decline-request" type="submit" class="btn btn-danger">
                <span>Decline</span>
            </button>
        </div>
</form>
    