<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="request">
            <h2><span jhiTranslate="theschedulerApp.request.detail.title">Request</span> {{request.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theschedulerApp.request.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'theschedulerApp.RequestType.' + request.type}}">{{request.type}}</span>
                </dd>
                <dt><span jhiTranslate="theschedulerApp.request.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'theschedulerApp.Status.' + request.status}}">{{request.status}}</span>
                </dd>
                <dt><span jhiTranslate="theschedulerApp.request.from">From</span></dt>
                <dd>
                    <span>{{request.from}}</span>
                </dd>
                <dt><span jhiTranslate="theschedulerApp.request.to">To</span></dt>
                <dd>
                    <span>{{request.to}}</span>
                </dd>
                <dt><span jhiTranslate="theschedulerApp.request.interestedParties">Interested Parties</span></dt>
                <dd>
                    <span>{{request.interestedParties}}</span>
                </dd>
                <dt><span jhiTranslate="theschedulerApp.request.reason">Reason</span></dt>
                <dd>
                    <span>{{request.reason}}</span>
                </dd>
                <dt><span jhiTranslate="theschedulerApp.request.user">User</span></dt>
                <dd>
                    {{request.userId}}
                </dd>
                <dt><span jhiTranslate="theschedulerApp.request.admin">Admin</span></dt>
                <dd>
                    {{request.adminId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *ngIf="currentAccount.login !== 'admin'" type="button"
                    [routerLink]="['/request', request.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
