 
        <div class="text-center" [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                    <a class="alert-link" href="request" >  
                            <span class="hipster img-fluid rounded"></span>
                    </a>
            </div>

            <div *ngSwitchCase="false">
                <span> </span>
                <a class="alert-link" (click)="login()" >  
                   <span class="hipster img-fluid rounded"></span>
                </a>
            </div>
        </div>
 
